{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
	body{
		background-color: #f4f4f4;
	}
	</style>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row mt-4" >
		{% for category in images %}
			<div class="col-md-3 mt-4">
				<div class="card p-2">
		       		<img style="max-height:236px" class="img-fluid" src="https://s3.amazonaws.com/reevan-bucket/{{ category }}">
		       		<a href="https://s3.amazonaws.com/reevan-bucket/{{ category }}" class="mb-3 btn btn-success mt-2" target="_blank">Download</a>
		       	</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}